.svg {
  min-width: 60px;
  font-weight: 400;
  padding: 0.6rem 2rem;
  color: #fff;
  border: 2px solid #fff;
}

* {
  font-family: "josefin sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  text-decoration: none;
  color: #777;
  transition: 0.3s;
}
body ul {
  list-style: none;
}

.top-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 99;
}

.logo > a {
  margin: 0 1rem;
  color: #fff;
  cursor: pointer;
}

.logo > a > span {
  color: #20c997;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  font-size: 19px;
  margin: 0 1rem;
  overflow: hidden;
}

.menu > li > a {
  color: #777;
}
.menu > li > a:hover {
  color: #20c997;
}

.menu > li > .active {
  color: #20c997;
}

.menu-button-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  position: absolute;
  display: block;
  height: 4px;
  width: 30px;
  margin-right: 3rem;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #333;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.home {
  width: 100%;
  height: 130vh;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/natureza.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(45%);
  transition: 0.6s;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.home.none {
  -webkit-animation: clip 3s;
          animation: clip 3s;
}
.home div {
  text-align: center;
}
.home div h1 {
  padding: 1rem;
}
.home div p {
  display: block;
  padding-bottom: 0.5rem;
}
.home div h1, .home div p {
  color: #fff;
}
.home div a {
  @extends .sgv;
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  -webkit-animation: bounce 0.7s infinite;
          animation: bounce 0.7s infinite;
}
.home div a svg {
  width: 100%;
  height: 100%;
  color: #20c997;
}

.gallery {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (max-width: 1080px) {
  .gallery {
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gallery-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin-bottom: 4%;
  color: #fff;
}
@media (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
}
.gallery-card-btn:hover {
  border: #20c997;
  background-color: #20c997;
  color: #000;
}
.gallery #card-1 {
  background-image: url("../images/animais.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-1:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/animais.jpg");
  filter: grayscale(0%);
}
.gallery #card-2 {
  background-image: url("../images/arquitetura.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-2:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/arquitetura.jpg");
  filter: grayscale(0%);
}
.gallery #card-3 {
  background-image: url("../images/cidade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-3:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cidade.jpg");
  filter: grayscale(0%);
}
.gallery #card-4 {
  background-image: url("../images/decoracao.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-4:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/decoracao.jpg");
  filter: grayscale(0%);
}
.gallery #card-5 {
  background-image: url("../images/esportes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-5:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/esportes.jpg");
  filter: grayscale(0%);
}
.gallery #card-6 {
  background-image: url("../images/natureza.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-6:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/natureza.jpg");
  filter: grayscale(0%);
}
.gallery #card-7 {
  background-image: url("../images/paisagem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-7:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/paisagem.jpg");
  filter: grayscale(0%);
}
.gallery #card-8 {
  background-image: url("../images/pessoas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-8:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pessoas.jpg");
  filter: grayscale(0%);
}
.gallery #card-9 {
  background-image: url("../images/refeicoes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
  cursor: pointer;
}
.gallery #card-9:hover {
  background-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/refeicoes.jpg");
  filter: grayscale(0%);
}

footer {
  text-align: center;
  padding: 2rem;
}
footer span {
  font-weight: bold;
  color: #20c997;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
            clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    transition: -webkit-clip-path 1s aese-out;
    transition: clip-path 1s aese-out;
    transition: clip-path 1s aese-out, -webkit-clip-path 1s aese-out;
  }
  25% {
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 100%, 0% 100%);
            clip-path: polygon(100% 100%, 100% 0%, 0% 100%, 0% 100%);
    transition: -webkit-clip-path 2s aese-out;
    transition: clip-path 2s aese-out;
    transition: clip-path 2s aese-out, -webkit-clip-path 2s aese-out;
  }
  50% {
    background: #26976a;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
            clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
    transition: -webkit-clip-path 1s aese-out;
    transition: clip-path 1s aese-out;
    transition: clip-path 1s aese-out, -webkit-clip-path 1s aese-out;
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
            clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 100%);
    transition: -webkit-clip-path 1s aese-out;
    transition: clip-path 1s aese-out;
    transition: clip-path 1s aese-out, -webkit-clip-path 1s aese-out;
  }
  25% {
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 100%, 0% 100%);
            clip-path: polygon(100% 100%, 100% 0%, 0% 100%, 0% 100%);
    transition: -webkit-clip-path 2s aese-out;
    transition: clip-path 2s aese-out;
    transition: clip-path 2s aese-out, -webkit-clip-path 2s aese-out;
  }
  50% {
    background: #26976a;
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
            clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
    transition: -webkit-clip-path 1s aese-out;
    transition: clip-path 1s aese-out;
    transition: clip-path 1s aese-out, -webkit-clip-path 1s aese-out;
  }
}/*# sourceMappingURL=styles.css.map */